<% include templates/header.ejs %>
<body>
<% include templates/navbar.ejs %> 
<% include templates/gmNavbar.ejs %> 
	<div class = "jumbotron">
		<div class = "container">
							<h1 class = "display-4"> <%= title %></h1>
				<p class = "lead"> An expansive amount of homebrew content.</p>
		</div>
	</div>
	<div id = "root">
		<div class = "row">
			<ul class="breadcrumb">
				<li><a href="/dnd">DND</a></li>
				<li><a href="/dnd/gm">GM</a></li>
				<li>Adventures</li>
			</ul>
			<div class = "col-md-10">
				<h1 class = "display-5" style = "text-align: center;"> Popular Adventures</h1>
				<hr style = "margin-left: 2rem; margin-right: 2rem;">
				<div class = "card-container">
					<div class = col-md-6>
						<% for(var i=0; i < 8; i+= 2) { %>
							<div id = 'cardClass<%=i%>' class = "card">
								<h1 class = "head"><%= adventureTitles[i].Title %></h1>
								<div class = 'cardStyle'>
								<%- adventureTitles[i].Content.substring(0,300)+"..." %><%- "</p></strong></i></u></center></code></li></ul></ol></span>" %>
								</div>
								<a class = "btn btn-info leg" href = "/dnd/gm/adventures/<%= adventureTitles[i].idADVENTURE %>">View</a>
							</div>
						<% } %>
					</div>
					<div class = col-md-6>
						<% for(var i=1; i < 8; i+= 2) { %>
							<div id = 'cardClass<%=i%>' class = "card">
								<h1 class = "head"><%= adventureTitles[i].Title %></h1>
								<div class = 'cardStyle'>
								<%- adventureTitles[i].Content.substring(0,300)+"..." %><%- "</p></strong></i></u></center></code></li></ul></ol></span>" %>
								</div>
								<a class = "btn btn-info leg" href = "/dnd/gm/adventures/<%= adventureTitles[i].idADVENTURE %>">View</a>
							</div>
						<% } %>
					</div>
				</div>
			</div>
			<div class = "col-md-2">
				<a class = "btn btn-success btnStyle" href = "/dnd/gm/adventures/add">New Adventure</a>
				<h4 class = "lead"  style = "text-align: center;margin-top: 1.5rem;"> Adventures </p>
				<hr>
				<div class = "list-group" style = "margin-top: 1rem; margin-bottom: 1rem;">
					<% for(var i=0; i < adventureTitles.length; i++) { %>
							<a class="list-group-item" href = "/dnd/gm/adventures/<%= adventureTitles[i].idADVENTURE %>"><%= adventureTitles[i].Title %></a>
					<% } %>
					<% for(var i=0; i < adventureTitles.length; i++) { %>
							<a class="list-group-item" href = "/dnd/gm/adventures/<%= adventureTitles[i].idADVENTURE %>"><%= adventureTitles[i].Title %></a>
					<% } %>
					<% for(var i=0; i < adventureTitles.length; i++) { %>
							<a class="list-group-item" href = "/dnd/gm/adventures/<%= adventureTitles[i].idADVENTURE %>"><%= adventureTitles[i].Title %></a>
					<% } %>
					<a href = "/" class = "list-group-item"> Test </a>
					<a href = "/" class = "list-group-item"> Test </a>

				</div>
			</div>
		</div>
	</div>
<% include templates/footer.ejs %>